@{
    ViewData["Title"] = "Página Principal";
}

<!-- Navbar vermelha -->
<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
    <div class="container-fluid">

        <!-- Botão com 3 barras -->
        <button class="btn btn-danger border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#menuCategorias" aria-controls="menuCategorias">
            <i class="bi bi-list" style="font-size: 1.5rem;"></i>
        </button>

        <a class="navbar-brand mx-auto" href="#">The Drinking Hub</a>

        <div class="d-flex">
            <a class="nav-link text-white" href="#">
                <i class="bi bi-person-circle" style="font-size: 1.5rem;"></i>
            </a>
        </div>
    </div>
</nav>

<!-- Offcanvas - Menu lateral de categorias -->
<div class="offcanvas offcanvas-start" tabindex="-1" id="menuCategorias" aria-labelledby="menuCategoriasLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="menuCategoriasLabel">Categorias</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Fechar"></button>
    </div>
    <div class="offcanvas-body">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action">Cerveja</a>
            <a href="#" class="list-group-item list-group-item-action">Vinho</a>
            <a href="#" class="list-group-item list-group-item-action">Licor</a>
            <a href="#" class="list-group-item list-group-item-action">Whiskey</a>
            <a href="#" class="list-group-item list-group-item-action">Tequila</a>
            <a href="#" class="list-group-item list-group-item-action">Outros</a>
        </div>
    </div>
</div>

<!-- Carrossel -->
<div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/images/drinks-banner.png" class="d-block w-100" alt="Banner" style="height: 400px; object-fit: cover;">
        </div>
    </div>
</div>

<!-- Produtos -->
<div class="container my-5">
    <div class="row text-center">

        <div class="col-md-4 mb-4">
            <img src="~/images/produto1.jpg" alt="Produto 1" class="img-fluid" style="height: 200px;">
            <br />
            <button class="btn btn-outline-dark mt-2">Adicionar Carrinho</button>
        </div>

        <div class="col-md-4 mb-4">
            <img src="~/images/produto2.png" alt="Produto 2" class="img-fluid" style="height: 200px;">
            <br />
            <button class="btn btn-outline-dark mt-2">Adicionar Carrinho</button>
        </div>

        <div class="col-md-4 mb-4">
            <img src="~/images/produto3.png" alt="Produto 3" class="img-fluid" style="height: 200px;">
            <br />
            <button class="btn btn-outline-dark mt-2">Adicionar Carrinho</button>
        </div>

    </div>
</div>

<!-- Rodapé com autores -->
<div class="bg-light text-center p-2 mt-5" style="width: 100%;">
    <small>Este site foi criado por Pedro Cortesao Nº23373 e Miguel Pereira NºXXXXX</small>
</div>
